<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="org.ironfox.browser" />
        <package android:name="us.mull.mull" />
        <package android:name="org.mozilla.fennec_fdroid" />
        <package android:name="io.github.forkmaintainers.iceraven" />
        <package android:name="net.waterfox.android.release" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="org.mozilla.fenix" />
        <package android:name="org.mozilla.firefox_beta" />
        <package android:name="org.mozilla.fenix.nightly" />
        <package android:name="org.mozilla.focus" />
        <package android:name="com.cookiecutter.cookiecutter" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".TranslateActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.IronbridgeTranslate">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DiagnosticsActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.IronbridgeTranslate" />

    </application>

</manifest>
